#body{
	position:absolute;
	top:5%;
	left:20%;
	right:10%;
}
body{
	font-weight:bold;
}
#maerli{
	-webkit-border-radius: 50px;
}
#menu{
	position:absolute;
	left:20%;
	right:10%;
	height:5%;
	background-color:black;
}
