#body{
	position:absolute;
	top:10%;
	left:10%;
	right:10%;
}
body{
	font-weight:bold;
}
#maerli{
	-webkit-border-radius: 50px;
}
#menu{
	position:absolute;
	left:20%;
	right:10%;
	height:10%;
	background-color:gray;
}
